<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/layui/css/layui.css"  media="all">
</head>
<body>

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>学生信息</legend>
</fieldset>

<div style="padding: 20px; background-color: #F2F2F2;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md3" th:each="student:${students}">
            <div class="layui-card">
                <div class="layui-card-body">
                    <span>学生编号:</span><span th:text="${student.id}"></span><br>
                    <span>学生姓名:</span><span th:text="${student.name}"></span><br>
                    <span>学生年龄:</span><span th:text="${student.age}"></span><br>
                    <span>学生性别:</span><span th:text="${student.sex}"></span><br>
                    <span>学生生日:</span><span th:text="${student.birth}"></span><br>
                    <span>学生生日:</span><span th:text="${#dates.format(student.birth,'yyyy-MM-dd HH:mm:ss')}"></span><br>
                    <span>学生电话:</span><span th:text="${student.phone}"></span><br>
<!--                    <span>学生存款:</span><span th:text="${#numbers.formatDecimal(student.money,22,8)}"></span><br>-->
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
